.container {
    text-align: center;
    margin-top: 23px;
}

table {
    margin: auto;
}

input {
    font-size: 34px;
    width: auto;
    border: 5px solid #244624;
    height: 29px;
}

button {
    font-size: 40px;
    background: #7fff00;
    width: 105px;
    height: 126px;
    color: black;
    border: 1px solid chartreuse;
}

button:hover {
    background-color: red;
    color: white;
}